<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- Add a Form with the following Inputs (and Validators)
           1) Mail address (should not be empty and should be an email address)
           2) A Dropdown which allows the user to select from three different Subscriptions ("Basic", "Advanced", "Pro")
              Set "Advanced" as Default
           3) A Password field (should not be empty)
           4) A Submit Button

           Display a warning message if the Form is invalid AND was touched. Display a warning message below each input if it's invalid.

           Upon submitting the form, you should simply print the Value of the Form to the Console.
           Optionally, display it in your template.
      -->
      <form (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="form-group">
            <label for="email">Mail</label>
            <input
              id="email"
              type="email"
              name="email"
              class="form-control"
              ngModel
              required
              email
              #email="ngModel">
            <span class="help-block" *ngIf="!email.valid && email.touched">Please enter a valid email!</span>
        </div>
        <div class="form-group">
          <label for="subscription">Choose a subscription</label>
          <select
            id="subscription"
            class="form-control"
            name="subscription"
            [ngModel]="subscriptions[0]"
            required>
            <option
              *ngFor="let subscription of subscriptions"
              [value]="subscription">
              {{ subscription }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            id="password"
            type="password"
            name="password"
            class="form-control"
            ngModel
            required
            password
            #password="ngModel">
          <span class="help-block" *ngIf="!password.valid && password.touched">Please enter a valid password!</span>
        </div>
        <p *ngIf="!signupForm.valid && signupForm.touched">The form is invalid!</p>
        <button
          class="btn btn-primary"
          type="submit"
          [disabled]="!f.valid">
            Submit
        </button>
      </form>
    </div>
  </div>
  <hr>
  <div class="row" *ngIf="submitted">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <h3>Your Data</h3>
      <p>Mail: {{ data.email }}</p>
      <p>Subscription: {{ data.subscription }}</p>
      <p>Password: {{ data.password }}</p>
    </div>
  </div>
</div>
